CLASS7/Jukebox Homework/A Collection Of What You've Lost.mp3
CLASS7/Jukebox Homework/A Sky Full Of Stars - Coldplay - [SongsPk.CC].mp3
CLASS7/Jukebox Homework/A Whisper and a Clamor.mp3
CLASS7/Jukebox Homework/Adelaide.mp3
CLASS7/Jukebox Homework/Adelaide.wav
CLASS7/Jukebox Homework/Breakdown.mp3
CLASS7/Jukebox Homework/Breathe.mp3
CLASS7/Jukebox Homework/Broadcasting.mp3
CLASS7/Jukebox Homework/Bullet Soul.mp3
CLASS7/Jukebox Homework/Carry On.mp3
CLASS7/Jukebox Homework/Comatose.mp3
CLASS7/Jukebox Homework/Daydream.mp3
CLASS7/Jukebox Homework/Dead And Gone(Justin Timberlake).mp3
CLASS7/Jukebox Homework/Debut.mp3
CLASS7/Jukebox Homework/Dizzy.mp3
CLASS7/Jukebox Homework/Don't Let Me Down.mp3
CLASS7/Jukebox Homework/Don't Stop.mp3
CLASS7/Jukebox Homework/Drown.mp3
CLASS7/Jukebox Homework/Flashlight.mp3
CLASS7/Jukebox Homework/A Sky Full Of Stars - Coldplay - [SongsPk.CC].mp3
CLASS7/Jukebox Homework/A Sky Full Of Stars - Coldplay - [SongsPk.CC].mp3
CLASS7/Jukebox Homework/A Sky Full Of Stars - Coldplay - [SongsPk.CC].mp3
CLASS7/Jukebox Homework/A Sky Full Of Stars - Coldplay - [SongsPk.CC].mp3

PROJECT/DOC CONTROL PROJECT/1 - DOCUMENT DROPBOX/
PROJECT/DOC CONTROL PROJECT/2 - DOC CONTROL QUEUE/
PROJECT/DOC CONTROL PROJECT/3 - ACTIVE FILES/
PROJECT/DOC CONTROL PROJECT/4 - OBSOLETE FILES/
PROJECT/DOC CONTROL PROJECT/!archive
PROJECT/DOC CONTROL PROJECT/build
PROJECT/DOC CONTROL PROJECT/dist
PROJECT/DOC CONTROL PROJECT/__pycache__
# *.PDF
# *.STEP
# *.STP
PROJECT/DOC CONTROL PROJECT/Document Number Log 20161116.xlsx
PROJECT/DOC CONTROL PROJECT/!archive/Document Number Log 2020-02-13.xlsx
PROJECT/DOC CONTROL PROJECT/!archive/Document Number Log 20161116 - Copy.xlsx
PROJECT/DOC CONTROL PROJECT/!archive/Document Number Log 20161116.xlsx
PROJECT/DOC CONTROL PROJECT/!archive/Document Number Log 20200216_.xlsx
PROJECT/DOC CONTROL PROJECT/!archive/Document Number Log 20200217 - Copy.xlsx
PROJECT/DOC CONTROL PROJECT/!archive/Document Number Log 20200217.xlsx
PROJECT/DOC CONTROL PROJECT/!archive/Document Number Log 20200218.xls
PROJECT/DOC CONTROL PROJECT/!archive/Document Number Log 20200219 - Copy (2).xls
PROJECT/DOC CONTROL PROJECT/!archive/Document Number Log 20200219 - Copy.xls
PROJECT/DOC CONTROL PROJECT/!archive/Document Number Log 20200219.xls
PROJECT/DOC CONTROL PROJECT/!archive/Document Number Log 20200220.xls
PROJECT/DOC CONTROL PROJECT/!archive/Document Number Log 20200221.xls
PROJECT/DOC CONTROL PROJECT/!archive/Doc_Control_Cleark_Log.txt
PROJECT/DOC CONTROL PROJECT/!archive/test_file.xlsx
PROJECT/DOC CONTROL PROJECT/!archive/test.xls
PROJECT/DOC CONTROL PROJECT/Document Number Log 20200221.xls
CLASS16/HOMEWORK/25-lab-slides.md
CLASS16/HOMEWORK/NBA_players_2015.csv
CLASS16/HOMEWORK/only-if-api-down-movie-ratings.csv
CLASS16/HOMEWORK/movie_app (6).py
CLASS16/HOMEWORK/pandas_intro_hw.ipynb
CLASS16/HOMEWORK/pandas_intro_hw.py
CLASS16/HOMEWORK/pandas_plotting_hw.ipynb
CLASS16/HOMEWORK/pandas_plotting_hw.py
CLASS16/HOMEWORK/scatterplot_matrix2.py
CLASS16/scatterplot_matrix.py
PROJECT/Mike Strain Project Report - Python 6.pptx
PROJECT/DOC CONTROL PROJECT/Project_Email_List.txt
PROJECT/DOC CONTROL PROJECT/Doc_Control_Clerk.spec
